.indication {
    font-weight: bold;
}
.cajas {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.button-login {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(93, 53, 130); 
    color: #fff; 
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-login:hover {
    background-color: rgb(44, 14, 72); 
}