.top-header{
  text-align: center;
  font-size: 8px;
  background-color: rgb(209, 160, 255);
  padding: 1px;

}

.logo{
  text-align: center;
  color: rgb(44, 14, 72);
  font-size: 40px;
}


.barra-busqueda {
  display: flex;
  align-items: center;
  background-color: rgb(237, 218, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
margin-left: 40px;
margin-right: 40px;
 height: 20px;
 text-align: center;
 margin-top: 10px;

}


.input-busqueda {
  flex: 1;
  border: none;
  padding: 8px;
  width: 10px;
  height: 5px;
  background-color: rgb(237, 218, 255);
}

.boton-buscar {
  background-color: rgb(237, 218, 255);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.menu{
  margin-top: 42px;
  font-size: 20px;
}


.header-logo-register{
  display: flex;
  justify-content: space-around;
}

.icon{
  font-size: 25px;
  padding-right: 35px;
  margin-top: 40px
}


.main-navbar{
  list-style: none;
 
}


.main-navbar a{
text-decoration: none;
font-size: 17px;
padding: 5px 0;
display: inline-block;
color: #222222;
}

.main-navbar{
  display: none;
}


.description-header{

  text-align: center;

}

.description-header button{

background-color:  rgb(44, 14, 72);
color: white;
height: 25px;
width: 100px;
border-radius: 5px;
border: none;
font-size: 15px;
}