*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.oculto {
    display: none;
}

.display-none {
    display: none;
}

.font-m {
    font-size: 12px;
}
.font-xl {
    font-size: 18px;
}
.title {
    font-size: 24px;
}
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.vw-90 {
    width: 90vw;
}

.w-100 {
    width: 100%;
}

.b-1 {
    border-style: solid;
}

.bt-1 {
    border: 1px solid black
}

.b-none {
    border: none;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.round {
    border-radius: 50%;
}

.radius-1 {
    border-radius: 5px;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 20px;
}

.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ml-1 {
    margin-left: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mr-1 {
    margin-right: 8px;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-grow {
    flex-grow: 1;
}

.gap {
    gap: 10px;
}

.align-center {
    margin: 0 auto;
}

.align-right {
    align-self: right;
}

.relative {
    position: relative;
}

.main {
    padding: 1%;
    width: 90%;
    margin-left: 5%;
    align-content: center;
}

.section {
    justify-content: space-around;
}


@media (min-width: 481px) {
    /* tablet */
    .md-w-50 {
        width: 48%;
    }
}

@media (min-width: 769px) {
    /* laptop */
    .lg-w-25 {
        width: 23%;
    }
}

@media (min-width: 1281px) {
    /* desktop */
}
  



