<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Proyecto Integrador - Grupo 09</title>
    </head>
        <div class="top-header">
            <p><h4>VENTA DE ELECTRODOMESTICOS PARA EL HOGAR LOGO </h4></p>
        </div>
    <body>
        <header class="">
            <div class="header-line">
            <div class="header-logo-register">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
                </div>
                    <h1 class="logo">logo</h1>
                    <div class="register-login">
                        <a href=""><i class="fa-solid fa-user icon"></i></a>
                        <a href=""><i class="fa-solid fa-id-card icon"></i></a>
                    </div>
                </div>
                <div class="barra-busqueda">
                    <input type="text" placeholder="Buscar productos y secciones" class="input-busqueda">
                    <button class="boton-buscar"><i class="fas fa-search"></i></button>
                </div>
                <div class="register-login-media">
                    <a href=""><i class="fa-solid fa-user icon"></i></a>
                    <a href=""><i class="fa-solid fa-id-card icon"></i></a>
                </div>
            </div>
            <!--<div class="description-header">
                <h2>Linea Hogar</h2>
                <p>Descubrí la linea de electrodomésticos de PAG</p>
                <button>Ofertas</button>
            </div>--> 
  
            <nav class="main-navbar">
                <h2><button>Ofertas</button></h2>
                <ul class="nav-bar-a">
                    <li><a href="#">Heladeras</a></li>
                    <li><a href="#">Lavarropas</a></li>
                    <li><a href="#">Cocinas</a></li>
                    <li><a href="#">Freezers</a></li>
                    <li><a href="#">Anafes</a></li>
                    <li><a href="#">Lavavajillas</a></li>
                    <li><a href="#">Microondas</a></li>
                </ul>
            </nav>

            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <!--<img src="/images/cocina.jpg" style="width:100%">-->
                    IMAGEN A
                    <div class="text">Caption Text</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    IMAGEN B
                    <div class="text">Caption Two</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    IMAGEN C
                    <div class="text">Caption Three</div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
            <br>
    
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>            
        </header>
    
        <main class="p-1 vw-90 mx-auto">
            <section class="p-1 flex flex-wrap gap">
                <h2 class="title w-100">Basado en tu última visita</h2>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/lavavajillas.jpg" alt="Lavavajillas Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$6.770</p>
                        <p class="color-green font-lg">40% OFF</p>
                        <h3 class="font-lg w-100">Lavavajillas Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/lavarropas.jpg" alt="Lavarropas Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$230.000</p>
                        <p class="color-green font-lg">20% off</p>
                        <h3 class="font-lg w-100">Lavarropas Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/heladera.jpg" alt="Heladera Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$70.500</p>
                        <p class="color-green font-lg">10% off</p>
                        <h3 class="font-lg w-100">Heladera Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/microondas.jpg" alt="Microondas Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$23.200</p>
                        <p class="color-green font-lg">5% off</p>
                        <h3 class="font-lg w-100">Microondas Whirlpool"</h3>
                    </div>
                </article>
            </section>
            <section class="p-1 flex flex-wrap gap">
                <h2 class="title w-100">Ofertas</h2>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/freezer.jpg" alt="Freezer Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$6.770</p>
                        <p class="color-green font-lg">40% OFF</p>
                        <h3 class="font-lg w-100">Freezer Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/cocina.jpg" alt="Cocina Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$230.000</p>
                        <p class="color-green font-lg">20% off</p>
                        <h3 class="font-lg w-100">Cocina Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/anafe.jpg" alt="Anafe Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$70.500</p>
                        <p class="color-green font-lg">10% off</p>
                        <h3 class="font-lg w-100">Anafe Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/extractor.jpg" alt="Extractor Whirlpool" />
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$23.200</p>
                        <p class="color-green font-lg">5% off</p>
                        <h3 class="font-lg w-100">Extractor Whirlpool"</h3>
                    </div>
                </article>
            </section>

        </main>

        <footer class="flex flex-wrap p-1 mx-auto">
            <div>
                <img src="/images/logo.jpg" class="logo-footer"></img>
                <p><a href="#"></a>Whirlpool Argentina SRL</p>
                <p>Av. Crovara 2550
                <p>La Tablada</p>
                <p>Provincia de Buenos Aires</p>
                <p>CUIT: 30636344776</p>
            </div>
            <div>
                <p><a href="#">Políticas y Términos de uso</a></p>
                <p><a href="#">Promociones Especiales</a></p>
                <p><a href="#">Nuestra Marca</a></p>
                <p><a href="#">Responsabilidad Social</a></p>
                <p><a href="#">Nuestra Historia</a></p>
            </div>
            <div>
                <p>0800-666-6266</p>
                <p>Lunes a Sábado de 9 a 19 hs.</p>
                <p>contacto@whirlpoolstore.com.ar</p>
                <p><a href="#">Libro de Quejas Online</a></p>
                <p><a href="#">Preguntas Frecuentes</a></p>
            </div>
            <div>
                <p>Medios de pago</p>
                <p>Credito</p>
                <p>Debito</p>
                <p>Ahora 12</p>
                <p>Ahora 18</p>
            </div>
        </footer>

        <div>
            <p><h4>Copyright © 2023 GRUPO-09</h4></p> 
        </div>
        <script>
            let slideIndex = 1;
            showSlides(slideIndex);
            
            function plusSlides(n) {
              showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            
            function showSlides(n) {
              let i;
              let slides = document.getElementsByClassName("mySlides");
              let dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
            }
        </script>

    </body>
</html>