<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Proyecto Integrador - Grupo 09</title>
    </head>
        <div class="top-header">
            <p><h4>VENTA DE ELECTRODOMESTICOS PARA EL HOGAR</h4></p>
        </div>
    <body>






           
        <header class="">

        <div class="header-logo-register">


            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            


                <h1 class="logo">
                
             
            logo

            
                </h1>
                <div>
                    <a href=""><i class="fa-solid fa-user icon"></i></a>
                    <a href=""><i class="fa-solid fa-id-card icon"></i></a>
                    

                </div>
            </div>
            
                <div class="barra-busqueda">
    
                    <input type="text" placeholder="Buscar productos y secciones" class="input-busqueda">
                    <button class="boton-buscar">
                      <i class="fas fa-search"></i>
                    </button>
    
                  </div>

                <div class="description-header">
                    <h2>Linea Hogar</h2>
                    <p>Descubrí la linea de electrodomésticos de PAG</p>
                    <button>
                        Ofertas
                    </button>
                    
                </div> 
        
    

                <nav class="main-navbar">
                    <h2>Ofertas</h2>
                    <ul class="nav-bar-a">
                        <li><a href="#">Heladeras</a></li>
                        <li><a href="#">Lavarropas</a></li>
                        <li><a href="#">Cocinas</a></li>
                        <li><a href="#">Freezers</a></li>
                        <li><a href="#">Anafes</a><i class="fa-solid fa-id-card"></i></li>
                        <li><a href="#">Lavavajillas</a><i class="fa-solid fa-right-to-bracket"></i></li>
                        <li><a href="#">Microondas</a><i class="fa-solid fa-person-walking-luggage"></i></li>
                    </ul>
                </nav>
    
             
               
    
               
         
              
            </header>
    








    
        <main>
            
        </main>

        <footer>

        </footer>

        <div>
           <!--   <p><h4>Copyright © 2023 GRUPO-09</h4></p>   --> 
        </div>

    </body>
</html>