<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>
  
        <main class="p-1 vw-90 mx-auto">
            <section class="p-1 flex flex-wrap gap">
                <h2 class="title w-100">Basado en tu última visita</h2>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/lavavajillas.jpg" alt="Lavavajillas Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$6.770</p>
                        <p class="color-green font-lg">40% OFF</p>
                        <h3 class="font-lg w-100">Lavavajillas Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/lavarropas.jpg" alt="Lavarropas Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$230.000</p>
                        <p class="color-green font-lg">20% off</p>
                        <h3 class="font-lg w-100">Lavarropas Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/heladera.jpg" alt="Heladera Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$70.500</p>
                        <p class="color-green font-lg">10% off</p>
                        <h3 class="font-lg w-100">Heladera Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/microondas.jpg" alt="Microondas Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$23.200</p>
                        <p class="color-green font-lg">5% off</p>
                        <h3 class="font-lg w-100">Microondas Whirlpool"</h3>
                    </div>
                </article>
            </section>
            <section class="p-1 flex flex-wrap gap">
                <h2 class="title w-100">Ofertas</h2>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/freezer.jpg" alt="Freezer Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$6.770</p>
                        <p class="color-green font-lg">40% OFF</p>
                        <h3 class="font-lg w-100">Freezer Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/cocina.jpg" alt="Cocina Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$230.000</p>
                        <p class="color-green font-lg">20% off</p>
                        <h3 class="font-lg w-100">Cocina Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/anafe.jpg" alt="Anafe Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$70.500</p>
                        <p class="color-green font-lg">10% off</p>
                        <h3 class="font-lg w-100">Anafe Whirlpool</h3>
                    </div>
                </article>
                <article class="bt-1 border-grey border-radius product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/extractor.jpg" alt="Extractor Whirlpool">
                    <div class="p-1 relative flex flex-wrap">
                        <p class="font-xl mr-1">$23.200</p>
                        <p class="color-green font-lg">5% off</p>
                        <h3 class="font-lg w-100">Extractor Whirlpool"</h3>
                    </div>
                </article>
            </section>
        </main>

        <!--FOOTER-->
        <%- include("./partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>