<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>

        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/images/carrousel1.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
                <img src="/images/carrousel2.gif" style="width:100%">
            </div>
            
            <div class="mySlides fade">
                <img src="/images/carrousel3.jpg" style="width:100%">
            </div>
        
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <br>
        
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div> 
  
        <main class="p-2 vw-90 mx-auto">
            <section class="flex flex-wrap gap section">
                <h2 class="title w-100">Basado en tu última visita</h2>    
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/lavavajillas.jpg" alt="Lavavajillas Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Lavavajillas Whirlpool Tecnología Inverter 10 Cubiertos Inox</p>
                        <p class="precio">$543.899</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/lavarropas.jpg" alt="Lavarropas Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Lavarropas Whirlpool 9kg - 1400rpm Blanco Inverter</p>
                        <p class="precio">$462.499</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/heladera.jpg" alt="Heladera Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Heladera Whirlpool No Frost Xpert Inverter de 462 Lts</p>
                        <p class="precio">$957.699</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/microondas.jpg" alt="Microondas Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Microondas Whirlpool con grill y vaporera 25 litros</p>
                        <p class="precio">$175.499</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
            </section>
            <section class="flex flex-wrap gap section">
                <h2 id="ofertas" class="title w-100">Ofertas</h2>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/freezer.jpg" alt="Freezer Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Freezer Whirlpool Horizontal Ciclico 414 Lts</p>
                        <p class="precio">$560.458</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/cocina.jpg" alt="Cocina Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Cocina a gas Whirlpool 50 cm</p>
                        <p class="precio">$273.699</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/anafe.jpg" alt="Anafe Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Anafe Whirlpool a gas Vidrio Templado 73 cm</p>
                        <p class="precio">$353.499</p>
                        <p class="color-green font-lg">29% OFF</p>
                    </div>
                </article>
                <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25">
                    <img class="w-100 border-radius" src="/images/extractor.jpg" alt="Extractor Whirlpool">
                    <div class="relative flex flex-wrap">
                        <p class="description">Campana Whirlpool extractora 90cm</p>
                        <p class="precio">$268.399</p>
                        <p class="color-green font-lg">29% off</p>
                    </div>
                </article>
            </section>
        </main>

        <!--FOOTER-->
        <%- include("./partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>