<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
    </head>
    
    <div class="top-header">
        <p><h4>VENTA DE ELECTRODOMESTICOS PARA EL HOGAR LOGO </h4></p>
    </div>
       
    <body>
        <header>
            <%- include("partials/header") %>
        </header>
        
        <div>
            <p><h4>LOGIN</h4></p>
        </div>

        <main>
            
        </main>

        <footer>

        </footer>

        <div>
            <p><h4>Copyright © 2023 GRUPO-09</h4></p>
        </div>
 <%- include("partials/script") %>
    </body>
</html>