<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
    </head>
    
    <div class="top-header">
        <p><h4>VENTA DE ELECTRODOMESTICOS PARA EL HOGAR LOGO </h4></p>
    </div>
       
    <body>
        <header>
            <%- include("partials/header") %>
        </header>
        
       

        <main>
            
    <form action="/home" method="POST" class="formulario">
        <div class="login-style"> 
        <label class="indication" for="nombre-usuario">Email:</label>
        <input class="cajas" id="email" name="email"  required>
    
        <label class="indication" for="contrasena">Contraseña:</label>
        <input class="cajas" type="password" id="contrasena" name="contrasena" required>
    
        <button class="button-login" type="submit">Enviar</button>
    </div>
      </form>
        </main>

        <footer>

        </footer>

        <div>
            <p><h4>Copyright © 2023 GRUPO-09</h4></p>
        </div>
 <%- include("partials/script") %>
    </body>
</html>