<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>

        <div>
            <p><h4>REGISTER</h4></p>
        </div>

        <main>
            
        </main>

        <!--FOOTER-->
        <%- include("./partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>
    </body>
</html>