<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
    </head>
        
       
    <body>
        <header>
            <%- include("partials/header") %>
        </header>

        <div>
            <p><h4>REGISTER</h4></p>
        </div>

        <main>
            
        </main>

        <footer>

        </footer>

        <div>
            <p><h4>Copyright © 2023 GRUPO-09</h4></p>
        </div>
       
    </body>
</html>