<footer class="flex flex-wrap p-1 mx-auto">
    <div class="block w-100 md-w-50 lg-w-25">
        <img src="/images/logo.jpg" class="logo-footer"></img>
        <p><a href="#"></a>Whirlpool Argentina SRL</p>
        <p>Av. Crovara 2550
        <p>La Tablada</p>
        <p>Provincia de Buenos Aires</p>
        <p>CUIT: 30636344776</p>
    </div>
    <div class="block w-100 md-w-50 lg-w-25">
        <p><a class="link-footer" href="">Políticas y Términos de uso</a></p>
        <p><a class="link-footer" href="#">Promociones Especiales</a></p>
        <p><a class="link-footer" href="#">Nuestra Marca</a></p>
        <p><a class="link-footer" href="#">Responsabilidad Social</a></p>
        <p><a class="link-footer" href="#">Nuestra Historia</a></p>
    </div>
    <div class="block w-100 md-w-50 lg-w-25">
        <p>0800-666-6266</p>
        <p>Lunes a Sábado de 9 a 19 hs.</p>
        <p>contacto@whirlpoolstore.com.ar</p>
        <p><a class="link-footer" href="#">Libro de Quejas Online</a></p>
        <p><a class="link-footer" href="#">Preguntas Frecuentes</a></p>
    </div>
    <div class="block w-100 md-w-50 lg-w-25">
        <p>Medios de pago</p>
        <p>Credito</p>
        <p>Debito</p>
        <p>Ahora 12</p>
        <p>Ahora 18</p>
    </div>
    <div class="py-1 w-100 text-center">
        <p><h4>Copyright © 2023 GRUPO-09</h4></p> 
    </div>
</footer>