<header>
    <div class="header-line">
        <div class="p-1 w-100 md-w-50 lg-w-25">
            <a href="../">
                <img src="/images/logo.png">
            </a>
        </div>

        <div class="w-100 md-w-50 lg-w-25 barra-busqueda">
            <input type="text" placeholder="Buscar productos y secciones" class="input-busqueda">
            <button class="boton-buscar">
                <i class="fas fa-search"></i>
            </button> 
        </div>

        <div class="login w-100 md-w-50 lg-w-25">
            <div><a href="../login"><i class="fa-solid fa-user icon"></i></a></div>
            <div><a href="../register"><i class="fa-solid fa-id-card icon"></i></a></div>   
        </div>

       <div class="header-logo-register bt-1">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
            
        <!--<div class="register-login">
            <a href="../login"><i class="fa-solid fa-user icon"></i></a>
            <a href="../register"><i class="fa-solid fa-id-card icon"></i></a>
        </div>-->
    </div>

    <div class="description-header">
        <button>
            Ofertas
        </button>    
    </div> 

    <nav class="main-navbar">
        <h2><a href="#ofertas"><button>Ofertas</button></a></h2>
        <ul class="nav-bar-a">
            <li><a href="../productos/heladeras">Heladeras</a></li>
            <li><a href="../productos/lavarropas">Lavarropas</a></li>
            <li><a href="../productos/cocinas">Cocinas</a></li>
            <li><a href="../productos/freezers">Freezers</a></li>
            <li><a href="../productos/anafes">Anafes</a></li>
            <li><a href="../productos/lavavajillas">Lavavajillas</a></li>
            <li><a href="../productos/microondas">Microondas</a></li>
        </ul>
    </nav>
                   
</header>       
