<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body onload="getCart();">
        <!--HEADER-->
        <%- include("../partials/header") %>

        <main>
            <div class="carrito-container">
                <h2 class="align-center text-center titulo-carrito">Carrito de Compras</h2>
                <table class="carrito-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr id="datos">
                            <!-- datos carrito -->
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><b>Total: $0.00</b></td>
                        </tr>
                    </thead>
                </table>
                <div class="text-center">
                    <button class="btn-primary my-1" onclick=''>Finalizar Compra</button>
                </div>
            </div>
        </main>
        
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>
        <script src="/js/cart.js"></script>

    </body>
</html>