<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/header") %>

        <main>
            <div class="carrito-container">
                <h2>Carrito de Compras</h2>
                <table class="carrito-table">
                    <thead>
                        <tr>
                            <th>Producto</tr>
                            <th>Cantidad-+</th>
                            <th>Precio</th>
                            
                        </tr>
                    </thead>
                    <tbody class="carrito-body">
                       
                    </tbody>
                </table>
                <p class="total">Total: $0.00</p>
                <button class="finalizar-btn" onclick="finalizarCompra()">Finalizar Compra</button>
        </main>
        
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>
    </body>
</html>