<!DOCTYPE html>
<html lang="en">
    <!--HEAD--> 
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>
<h1>anafes</h1>
       </body> 
       