<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/headerhome") %>

        <h1><center>ELIMINAR PRODUCTO</center></h1>

        <section class="formulario">
            <h1>Estas seguro de querer eliminar el producto: ???</h1>
            <form action="/productos/delete" method="POST">
                <br>
                <p> <button class="botonBorrar" type="submit">Borrar Producto</button>
                
                <!--<a  class="botonVolver" href="/movies">Listado de Películas</a></p>-->
            </form>    
        </section>
       
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>